<a href="https://colab.research.google.com/github/PepiMartin28/Demographic-Data-Analyzer/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/PepiMartin28/Demographic-Data-Analyzer/main/adult.data.csv")

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
race_count = pd.Series(df.groupby("race").size(),index=df.groupby("race").count().index).sort_values(ascending=False)

race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

What is the average age of men?

In [5]:
average_age_men = df[df["sex"] == "Male"]["age"].mean()

average_age_men

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [6]:
percentage_bachelors = ((df[df["education"] == "Bachelors"]["education"].count() / df.count()) * 100).values[0]

percentage_bachelors

16.44605509658794

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [8]:
higher_education = df[(df["education"].isin(["Bachelors", "Masters", "Doctorate"])) & (df["salary"] == ">50K")]

higher_education_rich = ((higher_education.count() / df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])].count()) * 100).values[0]

higher_education_rich

46.535843011613935

What percentage of people without advanced education make more than 50K?

In [9]:
lower_education = df[(~df["education"].isin(["Bachelors", "Masters", "Doctorate"])) & (df["salary"] == ">50K")]

lower_education_rich = ((lower_education.count() / df[(~df["education"].isin(["Bachelors", "Masters", "Doctorate"]))].count()) *100).values[0]

lower_education_rich

17.3713601914639

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [10]:
min_work_hours = df["hours-per-week"].min()

min_work_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [11]:
num_min_workers = df[df["hours-per-week"] == df["hours-per-week"].min()]

rich_percentage = ((num_min_workers[num_min_workers["salary"] == ">50K"].count() / num_min_workers.count()) * 100).values[0]

rich_percentage

10.0

What country has the highest percentage of people that earn >50K?

In [12]:
highest_earning_country = (((df[df["salary"] == ">50K"].groupby("native-country").count()) / df.groupby("native-country").count()) * 100).idxmax().values[0]

highest_earning_country_percentage = ((df[(df["native-country"] == highest_earning_country) & (df["salary"] == ">50K")].count() /
                                       df[df["native-country"] == highest_earning_country].count()) *100).values[0]

highest_earning_country_percentage

41.86046511627907

Identify the most popular occupation for those who earn >50K in India.

In [13]:
top_IN_occupation = (df[(df["native-country"] == "India") & (df["salary"] == ">50K")].groupby("occupation").count()).idxmax().values[0]

top_IN_occupation

'Prof-specialty'